.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

/* home page css */

.homepage{
  height: 35.5rem;
  border: 1px solid white;
  background: #d0dce2;
  background: linear-gradient(to right,#d7dfe4,  #f3f3f3); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

}
.homepage_items{
  margin: 16% auto;
  text-align: center;
  padding: 0%;
  width: 60%;
  height: 40%;
}

.home_heading{
    font-family: serif;
    font-weight: bold;
    margin-top: 0rem;
    padding-top: 0rem;
}
.home_welcome{
  color: #0b7c7c;
  font-size: 1.4rem;
  font-weight: 600;
  margin-bottom: 0rem
}
/* signup page css */
.signup_second_div{
  font-family: 'Noto Serif', serif;
  /* border: 1px solid rgb(212, 22, 22); */
  box-shadow: 1px 1px 2px 2px #eff1f5;
  background-color: #fffafa;
  width: 65%;
  margin: 4rem auto;
  border-radius: 1rem;

}
.signup-content{
  /* border: 1px solid rgb(212, 22, 22); */
  display: flex;
  padding:0rem 0 2rem 3rem;
}
.form-title{
  font-size: 2rem;
  font-weight: bold;
  padding-top: 1rem ;
  text-align: center;
  /* border: 1px solid rgb(212, 22, 22); */
}
.signup-image{
  width: 20rem;
  margin: 3rem 3rem 0 3rem ;
  text-align: center;
  /* border: 1px solid rgb(156, 52, 52); */
}
.signup-image img{
  position: relative;
  bottom: 1.6rem;
  border-radius: 1rem;
  box-shadow: 1px 1px 2px 2px #eff1f5;
  height: 15rem;
}
.signin_div{
  width: 55%;
  padding: 0rem;
}
.signin-content{
  display: flex;
  /* justify-items: center; */
  align-items: center;
}
input:focus{
  outline: none;
}
input:focus::placeholder {
  color: transparent;
}
.signin-image{
  margin: 1rem;
  text-align: center;
}
.signin-image img{
  border-radius: .5rem;
  margin: 1rem;
  width: 15rem;

}
.signup-image-link, .signin-image-link{
  color: rgb(126, 96, 64);
  text-decoration: none;
}

.signin-form{
  margin: 1rem 2rem ;
  /* border: 1px solid grey; */
}
.form-group{
 border-bottom: 1px solid grey;
  margin: 1rem auto;
}
.form-group i{
  margin-right: .3rem;
  font-size: 1.2rem;
}
.form-group input{
  border-style: none;
  border-radius: .3rem;
}
.form-submit{
  text-align: center;
  color: whitesmoke;
  padding: .3rem;
  border-radius: .4rem;
  border: none;
  background-color: rgb(84, 197, 197);
  width: 8rem;
}

/* ---------------------Admin login------------------- */

.admin_login_in{

  /* border: 2px solid red; */
  box-shadow: 2px 1px 3px  2px rgb(205, 209, 200);
  background-color: #f8fafc;
  border-radius: 1rem;
  width: 30%;
  margin: 8% auto;
  padding : 0rem 2rem 2rem
}
.admin_login_content{
/* 
  /* border: 2px solid red; */
  padding: 0 2rem 1rem;
  /* margin: 7% auto;  */
} 
.admin_login_form{
  /* border: 2px solid red; */
  width: 80%;
  margin: auto; 

}
/* .admin_submit{
  text-align: center;
} */
/* Admin Logged In css */
.admin_welcome{
  background-color: #16bfbf;
  text-align: center;
  margin: 1rem auto;
  padding-top: .7rem;
  padding-bottom: .7rem;
}
.admin_notice{
  background-color: rgb(236, 236, 233);
  /* border: 2px solid red; */
  border-radius: 1rem;
  text-align: center;
  width: 50%;
  margin: 3rem auto;
  padding: 2rem;
}
.admin_option button{
  background: rgb(9, 107, 112);
  width: 30%;
  border: 1px solid black;
  margin: .6rem auto;
  padding: .2rem;
  border-radius: .4rem;
}
.admin_option button a{
  color: whitesmoke;
  font-size: 1.1rem;
  text-decoration: none;

}
 
/* -------------------------Admin Navbar------------------- */
.dropdown-menu{
  background-color: transparent;
  border: none;
}
.dropdown-item:hover{
  background-color: thistle;
}
/* -------------------add admin, add admin, Add books css ---------------- */
/* .form-group select {
    width: 10rem;
    border: none;
} */
/*Hide Calendar Icon In Chrome */
input[type="date"]::-webkit-inner-spin-button,
input[type="date"]::-webkit-calendar-picker-indicator {
    display: none;
    -webkit-appearance: none;
}
/* input[type=date]::-webkit-datetime-edit-text {
  -webkit-appearance: none;
  display: none;
}
input[type=date]::-webkit-datetime-edit-month-field{
  -webkit-appearance: none;
  display: none;
}
input[type=date]::-webkit-datetime-edit-day-field {
  -webkit-appearance: none;
  display: none;
}
input[type=date]::-webkit-datetime-edit-year-field {
  -webkit-appearance: none;
  display: none;
} */
/* input[type="date"]:not(.has-value):before{
  color: lightgray;
  content: attr(placeholder );
} */
.admin_form_section{  
  border-radius: 2rem;
  background-color: #fff8f3;
  width: 30%;
  margin: 5% auto;
  padding: 2rem;
}
.admin_form_div{
  font-family: 'Noto Serif', serif;
  width: 60%;
  /* border: 2px solid red; */
  margin: auto;
}
.admin_form_title{
  font-weight: bold;
  text-align: center;
  font-family: 'Noto Serif', serif;

}

.view_student_div{
  width: 60%;
  background-color: #f7f7f7;
  margin: 2rem auto;
  padding: 1rem 2rem;
}
.view_student_div{
  text-align: center;
}

/* Student Option */
/* Books */
.main_books_div{
  border : 1px solid grey;
  /* display: flex; */
  width: 85%;
   margin: auto;
}
.book_box{
  display: inline-block;
  border : 1px solid grey;
  width : 21rem;
  margin : 1rem;
  padding :1rem

}
.book_box div{
  margin: .3rem .5rem;
  align-content: center;

}
.book_box button{
  align-self: center;
}

/* --------------Student Entry css---------------- */
.student_entry_main_div{
  border-radius: 1.5rem;
  background-color: #f3f3f3;
  text-align: center;
  border: 1px solid grey;
  width: 40%;
  margin: 10% auto;
  padding: 2%;
}
.student_entry_option{
  text-align: center;
  display: inline-block;
  margin: 1rem;
}
.student_entry_option img{
  display: block;
  border-radius: 50%;
  width: 8rem;
  margin: 1rem ;
  padding-left: 1rem;
}
.student_entry_option a{
  display: inline-block;
  padding: auto 4rem;
  text-decoration: none;
  font-size: 1.5rem;
  margin: 1rem;
}
.any_name{
  text-transform :capitalize
}
/* .roll_no{
  text-transform :uppercase

} */
/* ----------------After Student Login-------------- */
.header_welcome{
  text-align: center;
  color: rgb(61, 3, 116);
  padding: .5rem;
  background-color: antiquewhite;
}

/* --------------------Student Home-------------------- */

.student_home_main_div{
  text-align: center;
  width: 50%;
  margin: 4rem auto;
  padding: 1rem 4rem;
}
.student_home_main_div h1{
  font-size: 4rem;
  color: #415783;
  font-family: 'Oswald', serif;
}

  /* --------------------Student Issued Books-------------------- */
  .student_issued_books_main_div{
    border-radius: 1rem;
    background-color: rgb(233, 233, 233);
    padding: 2rem;
    width: 40%;
    margin: 5rem auto;
    text-align: center;
  }

  .table {
    border-collapse: collapse;
    margin: 1rem auto;
    font-size: 0.9em;
    font-family: sans-serif;
    /* min-width: 25rem; */
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
    /* border: 4px solid red; */
    text-align: left;
}
.table thead tr {
  background-color: #009879;
  color: #ffffff;
}

.table th,
.table td {
    padding: 12px;
}
.table tbody tr {
  border-bottom: 1px solid #dddddd;
}

.table tbody tr:nth-of-type(even) {
  background-color: #f3f3f3;
}

.table tbody tr:last-of-type {
  border-bottom: 2px solid #009879;
}
.table tbody tr.active-row {
  font-weight: bold;
  color: #009879;
}




/* ------------------------Admin options----------------- */

.view_books_main_div{
  display: inline-block;
  border-radius: 1rem;
  background-color: rgb(233, 233, 233);
  padding: 2rem;
  margin: 6% 25%;
  text-align: center;
}